*,
*::before,
*::after {
    box-sizing: border-box;
}

.avatar {
    margin: 20px;
    border-radius: 50%;
}

.todo-list {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list ul {
    padding: 0;
    list-style-position: inside;
}

.todo-list .card {
    width: fit-content;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 20px;
    background-color: #fff;
}

.scientist-list {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scientist-list ul {
    list-style: none;
}

.scientist-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}