*,
*::before,
*::after {
    box-sizing: border-box;
}


.searchable-product-table {
    border: 2px solid #b1b4be;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 5px;
}

.search-bar {
    border: 2px solid #a9c0df;
    padding: 5px;
    margin: 0 auto 5px;
}

.search-bar .search {
    margin-bottom: 5px;
}

.search-bar .search input {
    padding: 5px;
    width: 100%;
}

.product-table {
    margin: 0 auto;
    border: 2px solid #bfa7d0;
    padding: 5px;
}

.product-table table {
    width: 100%;
    border-collapse: collapse;
}

.product-table thead tr {
    display: table-row;
    margin-bottom: 5px;
}

.category-row {
    border: 2px solid #9fcac2;
    margin: 5px 0;
}

.category-row th {
    padding: 15px;
}

.product-row {
    border: 2px solid #e3d2a7;
}

.product-row td {
    padding: 5px;
}

.product-row .out-of-stock {
    color: #eb3b2c;
}